.etWContainer { max-width:354px; overflow:hidden; margin:0px; padding:0px; border:0px; background-color:#422511;  font-family: 'Open Sans', sans-serif; font-size:20px;  text-align: left; }
.etWContainer .etWtabs { width:100%; height:45px; float:left; margin-top: 20px; }
.etWContainer .etWtabs a {  color:#FFF; float:left;  text-decoration:none; height:100%; width: 40%; line-height: 40px; text-align: center; }
.etWContainer .etWtabs a:last-child{ width: 46%;}
.etWContainer .etWtabs .active,.etWContainer .etWtabs a:hover { background-color:#22140D;   }
.etWContainer .etWtabs .prim { margin-left:7%; }
.etWContainer .etWforms { float:left; color: #e7e1c8; width:100%; background-color:#22140D;   }
.etWContainer .etWforms form { width:93%; float:left; overflow:hidden; padding: 3.5%;  }
.etWContainer .etWforms form .etWHide { display:none; }
.etWContainer .etWforms form .etWrow { width:100%; float:left; overflow:hidden;  }
.etWContainer .etWforms form .etWrow input{width:92%; padding-right:8%;height: 38px; color:#19100b; font-size: 20px;  font-family: 'Open Sans', sans-serif; text-indent: 7px; border:0;}
.etWContainer .etWforms form .etWrow label { width:90%; height:18px; line-height:14px;  float:left; margin:12px 0 10px 0; }
.etWContainer .etWforms form .etWrow label strong{font-size: 24px; margin: 6px;}
.etWContainer .etWforms form .etWrow2 { width: 45%; float:left;  }
.etWContainer .etWforms form .etWrow3{float: right;}
.etWContainer .etWforms form .etWrow2 label { width:107px; height:18px; line-height:14px;  display:inline-block; float:left; }
.etWContainer .etWforms form .cal { display:inline-block; float:left; width:100%;  line-height:24px;   background: #FFF url(../images/cal.png) 93% center no-repeat; text-indent:5px;  cursor:pointer; }
.etWContainer .etWforms form .etWrow .etWheader{ width:100%;  float:left; }
.etWContainer .etWforms form .etWrow .etWheader label{ margin-top: 22px; }
.etWContainer .etWforms form .etWrow .etWheader .rom { float:left; display:inline-block; height:18px; line-height:18px; width:45px; }
.etWContainer .etWforms form .etWrow .etWheader .ads { float:right; margin: 0 7px; font-size: 18px; }
.etWContainer .etWforms form .etWrow .etWheader  .chi { float:right; font-size: 18px; }
.etWContainer .etWforms form .etWrow .habitaciones{ width: 49px; height: 46px; float: left; margin-top: 8px; position: relative;}
.etWContainer .etWforms form .etWrow .rm { color:#666; cursor:pointer; float:left;  width:49px; height:46px; position: absolute; left:0; top: 0; z-index: 2; filter:alpha(opacity=0);   -moz-opacity: 0;    opacity: 0;}
.etWContainer .etWforms form .etWrow .rms{left:0; }
.etWContainer .etWforms form .etWrow .rms,.etWContainer .etWforms form .etWrow .etWRoom .adultoss,.etWContainer .etWforms form .etWrow .etWRoom .childs{ width: 49px; height: 46px; background: url(../images/pleca.png) no-repeat center 33px #fff; color: #19100b; position: absolute;  z-index: 1; line-height: 36px; text-align:center;top: 0 ; margin-top: 0; }
.etWContainer .etWforms form .etWrow .etWRoom .adultoss{right: 69px;}
.etWContainer .etWforms form .etWrow .etWRoom .childs{right: 0px;}
.etWContainer .etWforms form .etWrow .etWRoom { float:right;  width:216px; margin:10px 0 15px 0; position: relative; height: 48px;}
.etWContainer .etWforms form .etWrow .etWRoom span { width:64px; float:left;  height:22px;margin-top: 8px; }
.etWContainer .etWforms form .etWrow .etWRoom select { color:#666; cursor:pointer;  float:left;  width:49px; height:46px; position: absolute; right: 0; top: 0;  filter:alpha(opacity=0);   -moz-opacity: 0;    opacity: 0; z-index: 2}
.etWContainer .etWforms form .etWrow .etWRoom .adultos{right: 69px;}
#EtDestinyHtl,#EtCityOrig,#EtDestinyPkl{background:url(../images/pin.png) 97% 6px no-repeat #FFF;/* width: 92%; padding-right: 8%*/}
#Room2,#Room3,#RoomPk2,#RoomPk3{ display:none; } 
.etWContainer .etWforms form .button,#reservar { -webkit-appearance: none; float:left; width:100%; height:64px; text-align:center; background: #975427; border: 0; color: #e7e1c8; font-size: 26px; font-family: 'Open Sans', sans-serif; cursor: pointer; margin:13px 0 12px 0; } 
#reservar{width: 300px; height: 60px; line-height: 60px;  float: none; background: url(../images/pleca-reserva.png) 268px center no-repeat #975427; font-weight: 300; text-decoration: none; display: none}

.etWContainer .etWforms form .button:hover,#reservar:hover {text-decoration: underline;  } 

/*Autocomplete*/
.ui-autocomplete { width:330px !important; background: #E7E1C8; color:#22140D; font-size:11px; font-family:Tahoma, Arial, Verdana; margin:0px; padding:0px; border:0px; text-align:left; z-index: 8px; position: absolute !important; z-index: 10} 
.ui-autocomplete .ui-menu-item { list-style:none; }
.ui-autocomplete .ui-menu-item  a{ display:inline-block; color:#806600; padding:3px 3px; width:327px; cursor:pointer; line-height:15px; border-bottom:1px dotted #d4aa00; }
.ui-autocomplete .ui-menu-item  .ui-state-hover { color:#4d768a; display:inline-block; padding:3px 3px; width:327px; line-height:15px; border-bottom:1px dotted #d4aa00; }
.ui-helper-hidden-accessible {display: none;}


